<div class= "headerpage" id="container">
  <header>
    <h1 class="abouthead">Who we are ...</h1>
      <p class="lead">remoteAssist is a community application which helps connecting people within the community and share their inputs and also assist other people who are new to the location by giving some helpful tips.
      Come volunteer yourself to be a good samaritan and register with us and become part of our network</p>
  </header>
</div>
