<div class="container">
  <div class="starter-template">
        <h1>About us</h1>
        <p class="lead">rAssist helps you find a helping hand and gets you information on your destination.<br> Why don't you join us and become part of our network of helping other people in exploring new destinations</p>
  </div>
  <footer class="footer">
    <hr>
    <div class="container">
      <p class="text-muted">&copy; 2016 rAssist</p>
    </div>
  </footer>
</div>
